<html><head><title>Aoba's a cutie?</title></head>
<pre>
                    ______                   __
  ____  _______  __/ / __ )____ _____  _____/ /_  ____
 / __ \/ ___/ / / / / __  / __ `/ __ \/ ___/ __ \/ __ \
/ /_/ (__  ) /_/ /_/ /_/ / /_/ / / / / /__/ / / / /_/ /
\____/____/\__,_(_)_____/\__,_/_/ /_/\___/_/ /_/\____/
osu!bancho

                 .  o ..
                 o . o o.o
                      ...oo
                        __[]__
                     __|_o_o_o\__
                     \\""""""""""/
                      \. ..  . /
                 ^^^^^^^^^^^^^^^^^^^^

web:    <a target="_blank", href="https://redstar.moe">https://redstar.moe</a>
status: <a target="_blank", href="http://status.redstar.moe">http://status.redstar.moe</a>
github: <a target="_blank", href="http://github.com/osuRedstar">http://github.com/osuRedstar</a>
</pre></html>